<!-- Tête Section d'Acceuil -->
<div>
    <!-- Block Login 
    <div style="align-items: center;">
        <style>
            a:hover {
                background-color: yellow;
            }
        </style>
        <div class="row">
            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-success" *ngSwitchCase="true">
                    <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                        [translateValues]="{ username: account.login }">You are logged in as user
                        "{{ account.login }}".</span>
                </div>
                <div class="row">

                    <div class="container">
                        <div class="alert alert-warning" *ngSwitchCase="false">
                            <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to
                            </span>
                            <a class="alert-link" (click)="login()"
                                jhiTranslate="global.messages.info.authenticated.link">sign in</a>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="container">
                        <div class="alert alert-warning" *ngSwitchCase="false"> ¯/_(ツ)_\¯
                            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an
                                account
                                yet?</span>&nbsp;
                            <a class="alert-link" routerLink="account/register"
                                jhiTranslate="global.messages.info.register.link">Register a new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     Fin Block Login -->

    <!-- Section d'Acceuil -->
    <div class="row">
        <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap" rel="stylesheet">
        <h1 class="display-4" jhiTranslate="home.title" style="font-family: 'Tajawal', sans-serif;">Welcome, Java
            Hipster!</h1>
    </div>
    <div class="row">
        <span class="head img-fluid rounded"></span>
    </div>
    <!-- Fin Section d'Acceuil -->
</div>
<!-- Fin Tête Section d'Acceuil -->

<div class="row">
    <div class="col-md-1"></div>
    <!-- Block Interraction client -->
    <div class="col-md-10">
        <div class="row">
            <title>Map</title>
            <base href="/" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="icon" type="image/x-icon" href="favicon.ico" />
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvXw8DYKYZRrg8XTEYffQl4aONpJbF13I"></script>
        </div>

        <div class="row">
            <div class="col-md-8">
                <!-- Section Géo-localisation sur google maps -->
                <div class="row" *ngIf="lat && lng">
                    <div class="container">
                        <hr>
                        <h1>خارطة مراكز الفحص الفني</h1>
                        <hr>
                        <agm-map style="height: 800px;" [latitude]="lat" [longitude]="lng"
                            (mapClick)="onChoseLocation($event)">
                            <agm-marker [latitude]="lat1" [longitude]="lng1">
                                <agm-info-window>
                                    <h4>مراكز الفحص</h4>
                                    <p>lat: {{ lat }}</p>
                                    <p>long: {{ lng }}</p>
                                  </agm-info-window>
                            </agm-marker>
                            <agm-marker [latitude]="lat2" [longitude]="lng2">
                                <agm-info-window>
                                    <h4>مراكز الفحص</h4>
                                    <p>lat: {{ lat }}</p>
                                    <p>long: {{ lng }}</p>
                                  </agm-info-window>
                            </agm-marker>
                            <!-- <agm-marker *ngFor="let attt of attts; let i = index"
      [latitude]="attt.lat" [longitude]="attt.long" 
[iconUrl]="getIcon(school)">
</agm-marker>
-->
      <agm-info-window>
        <h4>مراكز الفحص</h4>
        <p>lat: {{ lat }}</p>
        <p>long: {{ lng }}</p>
      </agm-info-window>
    </agm-map>

                    </div>
                </div>
                <div class="row" *ngIf="!(lat || lng)">
                    <div class="container">
                        <hr>
                        <h1>Pas de connection</h1>
                        <hr>
                    </div>
                </div>
                <hr>
                <!-- Fin Section Géo-localisation sur google maps -->
            </div>
            <!-- Fin Block Interraction client -->

            <!-- Section Liste des centres de visites ATTT -->
            <div class="col-md-4">
                <hr>
                <!-- Section Calendrier -->
                <div class="row">

                    <body>
                        <div id="calendar" class="animated animated-sm bounceInUp">
                            <h2 style="text-align: center;" jhiTranslate="global.CalTitle">الجدولة الشهرية حسب المراكز
                            </h2>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="calendar fc fc-ltr">
                                        <table class="fc-header" style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td class="fc-header-left">
                                                        <!-- Localisation adresse selon région -->
                                                        <div class="form-group">
                                                            <select class="form-control form-control-sm"
                                                                id="selongouvernerat">
                                                                <option
                                                                    jhiTranslate="global.messages.region.SidiHassineSijoumi">
                                                                    Sidi Hassine Sijoumi</option>
                                                                <option jhiTranslate="global.messages.region.Ariana">
                                                                    Ariana</option>
                                                                <option jhiTranslate="global.messages.region.BenArous">
                                                                    Ben Arous</option>
                                                                <option jhiTranslate="global.messages.region.Sfax">Sfax
                                                                </option>
                                                                <option jhiTranslate="global.messages.region.Sousse">
                                                                    Sousse</option>
                                                                <option
                                                                    jhiTranslate="global.messages.region.SakietEzzit">
                                                                    Sakiet Ezzit</option>
                                                                <option jhiTranslate="global.messages.region.Nabeul">
                                                                    Nabeul</option>
                                                                <option jhiTranslate="global.messages.region.Monastir">
                                                                    Monastir</option>
                                                                <option jhiTranslate="global.messages.region.Bizerte">
                                                                    Bizerte</option>
                                                                <option
                                                                    jhiTranslate="global.messages.region.BirElKassaa">
                                                                    Bir El Kassaa</option>
                                                                <option jhiTranslate="global.messages.region.Kairouan">
                                                                    Kairouan</option>
                                                                <option jhiTranslate="global.messages.region.Gabès">
                                                                    Gabès</option>
                                                                <option jhiTranslate="global.messages.region.Djerba">
                                                                    Djerba</option>
                                                                <option jhiTranslate="global.messages.region.Mahdia">
                                                                    Mahdia</option>
                                                                <option jhiTranslate="global.messages.region.Medenine">
                                                                    Medenine</option>
                                                                <option jhiTranslate="global.messages.region.Zaghouan">
                                                                    Zaghouan</option>
                                                                <option jhiTranslate="global.messages.region.Jendouba">
                                                                    Jendouba</option>
                                                                <option
                                                                    jhiTranslate="global.messages.region.SidiBouzid">
                                                                    Sidi Bouzid</option>
                                                                <option jhiTranslate="global.messages.region.Kasserine">
                                                                    Kasserine</option>
                                                                <option
                                                                    jhiTranslate="global.messages.region.SousseMenzelHayet">
                                                                    Sousse Menzel Hayet</option>
                                                                <option jhiTranslate="global.messages.region.Gafsa">
                                                                    Gafsa</option>
                                                                <option jhiTranslate="global.messages.region.Béja">Béja
                                                                </option>
                                                                <option jhiTranslate="global.messages.region.Tataouine">
                                                                    Tataouine</option>
                                                                <option
                                                                    jhiTranslate="global.messages.region.MenzelTmime">
                                                                    Menzel Tmime</option>
                                                                <option jhiTranslate="global.messages.region.LeKef">Le
                                                                    Kef</option>
                                                                <option jhiTranslate="global.messages.region.Siliana">
                                                                    Siliana</option>
                                                                <option jhiTranslate="global.messages.region.Kébili">
                                                                    Kébili</option>
                                                                <option jhiTranslate="global.messages.region.Tozeur">
                                                                    Tozeur</option>
                                                            </select>
                                                        </div>
                                                        <!-- Fin Localisation adresse selon région -->
                                                        <div class="btn-group">
                                                            <button type="button"
                                                                class="fc-button-prev fc-corner-left btn btn-default btn-sm">
                                                                <i class="fa fa-chevron-left"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-sm"> <i
                                                                    class="fa fa-chevron-right"></i>

                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td class="fc-header-center"> <span class="fc-header-title"
                                                            jhiTranslate="global.month.Jan">
                                                            <h1><strong>Jan</strong></h1>
                                                        </span>
                                                    </td>
                                                    <td class="fc-header-right">
                                                        <button style="border-radius: 1%;" type="button"
                                                            class="btn btn-primary btn-sm btn-block">
                                                            <fa-icon icon="clock"></fa-icon>
                                                            <span class="d-none d-md-inline"
                                                                jhiTranslate="global.messages.button.rendezvous">
                                                                Prendre un rendez-vous</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="fc-content" style="position: relative; min-height: 1px;">
                                            <div class="fc-view fc-view-month fc-grid"
                                                style="position: relative; min-height: 1px;" unselectable="on">
                                                <table class="fc-border-separate" style="width:100%" cellspacing="0">
                                                    <thead>
                                                        <tr class="fc-first fc-last">
                                                            <th class="fc-day-header fc-widget-header fc-first"
                                                                style="width: 158px;"
                                                                jhiTranslate="global.NameDays.Sun">Sun</th>
                                                            <th class="fc-day-header fc-sat fc-widget-header fc-last"
                                                                style="width: 158px;"
                                                                jhiTranslate="global.NameDays.Sat">Sat</th>
                                                            <th class="fc-day-header fc-fri fc-widget-header"
                                                                style="width: 158px;"
                                                                jhiTranslate="global.NameDays.Fri">Fri</th>
                                                            <th class="fc-day-header fc-thu fc-widget-header"
                                                                style="width: 158px;"
                                                                jhiTranslate="global.NameDays.Thu">Thu</th>
                                                            <th class="fc-day-header fc-wed fc-widget-header"
                                                                style="width: 158px;"
                                                                jhiTranslate="global.NameDays.Wed">Wed</th>
                                                            <th class="fc-day-header fc-tue fc-widget-header"
                                                                style="width: 158px;"
                                                                jhiTranslate="global.NameDays.Tue">Tue</th>
                                                            <th class="fc-day-header fc-mon fc-widget-header"
                                                                style="width: 158px;"
                                                                jhiTranslate="global.NameDays.Mon">Mon</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="fc-week fc-first" style="height: auto;">
                                                            <td class="fc-day fc-sun fc-other-month fc-first"
                                                                data-date="2019-01-05">
                                                                <div style="min-height: 80px;">
                                                                    <div class="fc-day-number">5</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-sat fc-last" data-date="2019-01-04">
                                                                <div>
                                                                    <div class="fc-day-number">4</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-Fri fc-widget-content fc-other-month"
                                                                data-date="2019-01-03">
                                                                <div>
                                                                    <div class="fc-day-number">3</div>
                                                                    <button
                                                                        style="scale: 80% ;border-radius: 50%; width: auto; align-content: baseline;"
                                                                        type="button"
                                                                        class="btn btn-danger btn-sm btn-block">48</button>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-01-02">
                                                                <div>
                                                                    <div class="fc-day-number">2</div>
                                                                    <button
                                                                        style="scale: 80% ;border-radius: 50%; width: auto; align-content: baseline;"
                                                                        type="button"
                                                                        class="btn btn-primary btn-sm btn-block">8</button>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-wed fc-widget-content"
                                                                data-date="2020-01-01">
                                                                <div>
                                                                    <div class="fc-day-number">1</div>
                                                                    <button
                                                                        style="scale: 80% ;border-radius: 50%; width: auto; align-content: baseline;"
                                                                        type="button"
                                                                        class="btn btn-warning btn-sm btn-block">38</button>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-12-31">
                                                                <div>
                                                                    <div class="fc-day-number">31</div>
                                                                    <button
                                                                        style="scale: 80% ;border-radius: 50%; width: auto; align-content: baseline;"
                                                                        type="button"
                                                                        class="btn btn-info btn-sm btn-block">25</button>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-mon fc-widget-content fc-last"
                                                                data-date="2020-12-30">
                                                                <div>
                                                                    <div class="fc-day-number">30</div>
                                                                    <button
                                                                        style="scale: 80% ;border-radius: 50%; width: auto; align-content: baseline;"
                                                                        type="button"
                                                                        class="btn btn-danger btn-sm btn-block">55</button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="fc-week">
                                                            <td class="fc-day fc-sun  fc-other-month fc-first"
                                                                data-date="2019-01-12">
                                                                <div style="min-height: 80px;">
                                                                    <div class="fc-day-number">12</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-sat fc-last" data-date="2020-01-11">
                                                                <div>
                                                                    <div class="fc-day-number">11</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-Fri fc-widget-content"
                                                                data-date="2020-01-10">
                                                                <div>
                                                                    <div class="fc-day-number">10</div>
                                                                    <button
                                                                        style="scale: 80% ;border-radius: 50%; width: auto; align-content: baseline;"
                                                                        type="button"
                                                                        class="btn btn-success btn-sm btn-block">18</button>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-01-09">
                                                                <div>
                                                                    <div class="fc-day-number">9</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-wed fc-widget-content"
                                                                data-date="2020-01-08">
                                                                <div>
                                                                    <div class="fc-day-number">8</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-01-07">
                                                                <div>
                                                                    <div class="fc-day-number">7</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-mon fc-widget-content fc-last"
                                                                data-date="2020-01-06">
                                                                <div>
                                                                    <div class="fc-day-number">6</div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="fc-week">
                                                            <td class="fc-day fc-sun fc-first" data-date="2020-01-19">
                                                                <div style="min-height: 80px;">
                                                                    <div class="fc-day-number">19</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-sat fc-last" data-date="2020-01-18">
                                                                <div>
                                                                    <div class="fc-day-number">18</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-Fri fc-widget-content"
                                                                data-date="2020-01-17">
                                                                <div>
                                                                    <div class="fc-day-number">17</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-01-16">
                                                                <div>
                                                                    <div class="fc-day-number">16</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-wed fc-widget-content"
                                                                data-date="2020-01-15">
                                                                <div>
                                                                    <div class="fc-day-number">15</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-01-14">
                                                                <div>
                                                                    <div class="fc-day-number">14</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-mon fc-widget-content fc-last"
                                                                data-date="2020-01-13">
                                                                <div>
                                                                    <div class="fc-day-number">13</div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="fc-week">
                                                            <td class="fc-day fc-sun fc-first" data-date="2020-01-26">
                                                                <div style="min-height: 80px;">
                                                                    <div class="fc-day-number">26</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-sat fc-last" data-date="2020-01-25">
                                                                <div>
                                                                    <div class="fc-day-number">25</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-Fri fc-widget-content"
                                                                data-date="2020-01-24">
                                                                <div>
                                                                    <div class="fc-day-number">24</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-01-23">
                                                                <div>
                                                                    <div class="fc-day-number">23</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-wed fc-widget-content"
                                                                data-date="2020-01-22">
                                                                <div>
                                                                    <div class="fc-day-number">22</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-01-21">
                                                                <div>
                                                                    <div class="fc-day-number">21</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-mon fc-widget-content fc-last"
                                                                data-date="2020-01-20">
                                                                <div>
                                                                    <div class="fc-day-number">20</div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="fc-week">
                                                            <td class="fc-day fc-sun fc-first" data-date="2020-02-02">
                                                                <div style="min-height: 80px;">
                                                                    <div class="fc-day-number">2</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-sat fc-last" data-date="2020-02-01">
                                                                <div>
                                                                    <div class="fc-day-number">1</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-Fri fc-widget-content"
                                                                data-date="2020-01-31">
                                                                <div>
                                                                    <div class="fc-day-number">31</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-01-30">
                                                                <div>
                                                                    <div class="fc-day-number">30</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-wed fc-widget-content"
                                                                data-date="2020-01-29">
                                                                <div>
                                                                    <div class="fc-day-number">29</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-01-28">
                                                                <div>
                                                                    <div class="fc-day-number">28</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-mon fc-widget-content fc-last"
                                                                data-date="2020-01-27">
                                                                <div>
                                                                    <div class="fc-day-number">27</div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr class="fc-week fc-last">
                                                            <td class="fc-day fc-sun fc-other-month fc-first"
                                                                data-date="2020-02-09">
                                                                <div style="min-height: 80px;">
                                                                    <div class="fc-day-number">9</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-sat fc-last" data-date="2020-02-08">
                                                                <div>
                                                                    <div class="fc-day-number">8</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-Fri fc-widget-content fc-other-month"
                                                                data-date="2020-02-07">
                                                                <div>
                                                                    <div class="fc-day-number">7</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-02-06">
                                                                <div>
                                                                    <div class="fc-day-number">6</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-thu fc-widget-content fc-other-month"
                                                                data-date="2020-02-05">
                                                                <div>
                                                                    <div class="fc-day-number">5</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-tue fc-widget-content fc-other-month"
                                                                data-date="2020-02-04">
                                                                <div>
                                                                    <div class="fc-day-number">4</div>
                                                                </div>
                                                            </td>
                                                            <td class="fc-day fc-mon fc-widget-content fc-last"
                                                                data-date="2020-02-03">
                                                                <div>
                                                                    <div class="fc-day-number">3</div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </body>
                </div>
                <!-- Fin Section Calendrier -->

                <!-- Section liste centres ATTT -->
                <div class="row" style="text-align: center;">
                    <h3>Centres de visite technique<br><small>Agence Technique des Transports Terrestres</small></h3>

                </div>
                <hr class="drop">
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Sijoumi(Véhiculeslégers)"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Sijoumi(Véhiculeslégers)adr"><strong> adresse
                        </strong>:<br>
                    </h5>
                    <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Ariana"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Arianaadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Sfax"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Sfaxadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.BenArous"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.BenArousadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Sousse"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Sousseadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.SakietEzzit"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.SakietEzzitadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Sijoumi(Véhiculeslourds)"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Sijoumi(Véhiculeslourds)adr"><strong> adresse
                        </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Nabeul"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Nabeuladr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Monastir"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Monastiradr"><strong> adresse </strong>:<br>
                    </h5>
                    <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Bizert"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Bizertadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.BirElKassaa"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.BirElKassaaadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Kairouan"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Kairouanadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Gabès"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Gabèsadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Djerba"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Djerbaadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Mahdia"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Mahdiaadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Medenine"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Medenineadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Zaghouan"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Zaghouanadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Jendouba"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Jendoubaadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.SidiBouzid"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.SidiBouzidadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Kasserine"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Kasserineadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.MenzelHayet"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.MenzelHayetadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Gafsa"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Gafsaadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Béja"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Béjaadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Tataouine"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Tataouineadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.MenzelTmime"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.MenzelTmimeadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.LeKef"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.LeKefadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Siliana"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Silianaadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Kébili"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Kébiliadr"><strong> adresse </strong>:<br>
                        <hr>
                </div>
                <div class="row atttlist">
                    <hr>
                    <h3 jhiTranslate="global.messages.centresatt.Tozeur"> centre ATTT</h3><br>
                    <h5 jhiTranslate="global.messages.centresatt.Tozeuradr"><strong> adresse </strong>:<br>
                        <hr>
                </div>

            </div>
            <!-- Fin Section Liste des centres de visites ATTT -->
        </div>
    </div>

    <div class="col-md-1"></div>
</div>